PORT=3000
DB_PATH=data/app.db
REDIS_URL=redis://localhost:6379 
CORS_ORIGIN=http://localhost:5173
WEB_DIST=../web/dist
PLACES_API=https://oapaiqtgkr6wfbum252tswprwa0ausnb.lambda-url.eu-central-1.on.aws/?input=